.header {
        /* background-color: yellow; */
        width: 100%;
        background-image: url(./image.jpg) red fixed right 100px bottom 200px/cover ;
        /* background-size: cover;
        background-position:0 40%;
        background-repeat: no-repeat;
        background-origin:border-box;  */
        /* background-origin:padding-box; 
        background-origin:content-box;  */
        border : 10px dashed green;
        height: 400px;
        box-sizing: border-box;
        
}