#click {
    background-color: blueviolet;
    width: 120px;
    height: 20px;
    padding: 40px;
    color: floralwhite;
}

#click2 {
    background-color: pink;
    width: 120px;
    height: 20px;
    padding: 40px;
    color: black;
    
}